* {
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #12100C;
    background: #F5F3F4;
}

a {
    text-decoration: none;
}

a:visited{
    border-bottom:rgba(18, 16, 12, 0.7);
    color:rgba(18, 16, 12, 0.7);
}

ul {
    list-style: none;
}
.nav{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 28px;
}

.nav-menu{
    display: flex;
    list-style:none;
}


.nav-menu li {
    padding-right: 46px;
}

.login-but{
    background: #12100C;
    border-radius: 12px;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;    
    padding: 6px 22px;
}


/* Main */

.main-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: rgba(18, 16, 12, 0.7);
}
.row{
    max-width: 1350px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.promo-title{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: #12100C;
}
.promo-text, .tech-text{
    font-size: 24px;
    line-height: 32px;
}
.promo-button{
    background: #FFAE33;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 11px 46px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.row-button-container{
    max-width: 360px;
    display: flex;
    flex-flow: row wrap;
    text-align: start;
    font-size: 16px;
    gap: 22px;
}

.promo-logos{
    display: flex;
    gap: 24px;
}

.but-promo-text{
    padding-top: 4px;
}
.page-text-container{
    max-width: 1080px;
    margin: 200px auto;
    text-align: center;
}
.page-text{
    font-size: 54px;
    line-height: 64px;
    text-align: center;
    text-decoration-line: line-through;
    color: #999795;
}

.page-black-title{
    text-align: center;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    }


    /* tech section */

.tech{
    display: flex;
    flex-wrap: nowrap;
    align-items:center;
    max-width: 1350px;
    gap: 73px;
    margin: auto;
}
.tech-info{
    height: 360px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

}

.tech-text{
    max-width: 648px;
    margin-top: 8px;
}

.tech-button{
    padding: 8px 12px;
    background: #FFAE33;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10.5px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.sec-tech-but{
    padding: 8px 10px;
    color: black;
    background: #FFB0AE;
    margin-left: 16px;
}

/* code section */

.but-a:visited{
    color:rgba(0,0,0,.6);
    border-bottom: 2px solid rgba(18, 16, 12, 0.7);
}
.code, .connect{
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 300px auto;
    gap: 40px;
}
.code-title, .connect-main-title{
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    text-align: center;
}

.code-img{
    max-width: 1270px;
    max-height: 821px;
}
.code-text{
    text-align: center;
    max-width: 877px;
    font-size: 24px;
    line-height: 32px;
}


.code-button-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.code-button{
    width: 207px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    background: #FFFFFF;
    box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    border: none;
}

.sec-code-but{
    margin-left: 16px;
}

/* Connect section */


.connect-container{
    max-width: 1310px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 26px;
}

.connect-part{
    padding: 56px;;
    background: #FFFFFF;
    width: 642px;
    height: 651px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;

}

.connect-rad{
    border-radius: 20px;
}

.connect-buttons{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background-color: #FFFFFF;
    
}


.connect-buttons a:visited {
    color:white;
}
.connect-but{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 33px;
    width: 262px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background: #FC6D26;
}

.github-btn{
    background: #000;
}
.bitbucket-btn{
    background: #2684FF;
}

.text-container{
    background: #FFFFFF;
}
.connect-text{
    padding-top: 8px;
    align-self: start;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}

.connect-but-text{
    background: #FFE4BC;
    border-radius: 12px;
    font-size: 24px;
    line-height: 32px;
    padding: 0 16px;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}

.lang{
    width: 530px;
    height: 396px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.lang-flex-text{
    display: flex;
    gap: 16px   ;
    justify-content: space-between;
    align-items: center;

}
.lang-btn{
    padding:20px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F9F9F9;
    border-radius: 12px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
}
.lang-btn span{
    align-self: star
}
.lang-btn a{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.lang-btn-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;
    color: rgba(18, 16, 12, 0.7);
}
.lang-link-btn{
    padding: 3px 12px 9px;
    height: 32px;
    max-width: 143px;
    color: white;
    background: #12100C;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* footer */

.footer{
    width: 100%;
    height: 460px;
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.footer-menu{
    
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.footer-menu li, {
    padding-top: 7px;
    font-size: 13px;

}
.list-title{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #12100C;
}
.footer-menu-list, .logo-text{
    font-size: 13px;
    line-height: 20px;
    color: rgba(18, 16, 12, 0.7);
}

.footer-info{
    max-width: 1142px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ECE7E5;;
}

.footer-logo-data{
    width: 176px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.footerlogo-img{
    margin-right: 16px;
}


.fimg3{
    margin: 0;
}